body{
    margin-top: 5rem;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    
}
.list-group{
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
    align-items: center;
}


.todo{
    margin-bottom: 3rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.list-group-item{
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 50%;
    
}
